<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active-link">C-sharp Corner</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/hero" routerLinkActive="active-link">Heros</a> | </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <span class="navbar-text">
          <strong>Welcome {{UserName}}</strong>
        </span>
      </ul>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>