
  <div class="jumbotron">
    <h1>Welcome</h1>
    <h2>Angular & Bootstrap Demo</h2>
  </div>
  <h3>Fixed Bottom Navbar</h3>
  <div class="row">
    <div class="col-md-4">
      <p>
        <b>Paragraph1:</b>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Maecenas
        porttitor congue massa.Fusce posuere, magna sed pulvinarultricies,
        purus lectus malesuada libero,sit amet commodo magna eros quis urna.
        Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.Pellentesque
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <b>Paragraph2:</b>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Maecenas
        porttitor congue massa.Fusce posuere, magna sed pulvinarultricies,
        purus lectus malesuada libero,sit amet commodo magna eros quis urna.
        Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.Pellentesque
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <b>Paragraph3:</b>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Maecenas
        porttitor congue massa.Fusce posuere, magna sed pulvinarultricies,
        purus lectus malesuada libero,sit amet commodo magna eros quis urna.
        Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.Pellentesque
      </p>
    </div>
  </div>

